.layout {
  min-height: 100vh;
  height: 100vh;
  width: 100vw;

  .sub__layout {
    height: 100%;
    width: 100%;
    display: flex;

    .left__layout {
      width: 20%;
      height: 100%;
      border-right: 3px solid #ffff;

      .left__layout__drawer {
        display: none;
      }
    }

    .right__layout {
      width: 80%;
      height: 100%;
      height: max-content;
      overflow: scroll;
    }
  }
}

@media only screen and (max-width: 900px) {
  .sub__layout {
    width: 100% !important;

    .left__layout {
      border: none !important;
      width: 5% !important;
      .left__layout__header {
        display: none !important;
      }
      .left__layout__drawer {
        display: block !important;
        width: 10% !important;
        height: fit-content !important;
      }
    }
    .right__layout {
      width: 100% !important;
    }
  }
}
