.header {
  h1 {
    text-align: center;
    font-weight: bolder;
  }
  a {
    text-decoration: none;
  }
}

.header__links {
  padding: 15px;
  margin-top: 1rem;
  transition: 0.5s ease-in-out;
  &:hover {
    background-color: blueviolet;
  }
}

.link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: auto;

  span {
    font-size: 18px;
    flex: 0.5;
  }

  p {
    font-size: 15px;
    font-weight: bold;
    flex: 2;
  }
}
